*.h5
__pycache__/
*.pyc
ear-landmark-detection-with-CNN/images
ear-landmark-detection-with-CNN/data
resnet-18/test_results/
*.jpg
*.png
/gradio-env
/.gradio
resnet-18/model/tests/.env

resnet-18/model/tests/test_outputs/

*.pth
