*.h5
__pycache__/
*.pyc
ear-landmark-detection-with-CNN/images
ear-landmark-detection-with-CNN/data
resnet-18/test_results/
*.jpg
*.png
/gradio-env
/.gradio
resnet-18/model/tests/.env

resnet-18/model/tests/test_outputs/

ml_model/infant_ear_model_v5.pth
ml_model/infant_ear_model_best.pth
ml_model/ear_landmark_model_best.pth
ml_model/infant_ear_model_22lm.pth
ml_model/infant_ear_model_23lm.pth
ml_model/ear_landmark_model_best_epoch_80.pth

resnet-18/model/ear_landmark_model_best.pth

